<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rc_forklift)/urdf/forklift.urdf.xacro'" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
  <node pkg="rviz" name="rviz" type="rviz" />
</launch>
